@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ALM course project</h1>
    <p>Simple bank application in ASP.NET Core 2.2 to demonstrate Application Lifecycle Management course.</p>
</div>
